@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr {
    display: block;
}
* {
    font-family: 'Be Vietnam Pro', sans-serif;
}

.rounded-xl {
    border-radius: calc(var(--radius) + 4px);
}
.prata-regular {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
  }
  ::-webkit-scrollbar{
    display: none;
    
  }
  
  @media (max-width: 640px) {
    a.active{
        background-color: black;
        color: white;
    }
  }